 # **Random Forest Classifier Algorithm:**

**What is random forest?**

Random forest is a powerful and versatile supervised machine learning algorithm that grows and combines multiple decision trees to create a forest. It can be used for both classification and regression problems in machine learning. It is based on the concept of ensemble learning which is a processes of combining multiple classifiers to solve a complex problem and improve the performance of the model.

**Why use random forest?**

It takes less training time as campared to other algorithm. It predicts output with high accuracy, even for the large dataset it runs efficienty.It can aslo maintain accuracy when a large portion of data is missing. 

**Ensemble Method:** is a techinque that combines the predications from multiple machine learning algorithms together to make more accurate predictions than individual model.

**Bagging:** A technique to perform ensemble decision trees. Used when our goal is to reduce the variance of a decision tree. Creates several subsets of data from the tarining sample chosen randomely with replacement. Each collection of the subset data is used to train its decision tree ending up with an ensemble of different models.

**Bootstarp:** This process involves drawing random samples from the original dataset. Bootstarp resamples the original dataset with replacement many thousands of times to create simulated datasets.

**Python with random forest algorithm:**

In [14]:
#loading datasets from datasets 
import pandas as pd
#importing datasets
data=pd.read_csv('iris.csv')

In [16]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [20]:
#preprocessing of datasets
#replacing the string to number
from sklearn.preprocessing import LabelEncoder
species=LabelEncoder()

In [21]:
data['species']=species.fit_transform(data['species'])

In [22]:
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [24]:
#create independant and dependanet variable
X=data[['sepal_length','sepal_width','petal_length','petal_width']]
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [27]:
y=data['species']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [29]:
#split datasets train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3)

In [30]:
len(X_train)

105

In [31]:
len(X_test)

45

In [32]:
#Create random forest model
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100,criterion='gini')
clf.fit(X_train,y_train)

RandomForestClassifier()

In [33]:
#predict the value
y_pred=clf.predict(X_test)

In [34]:
y_pred

array([2, 2, 2, 0, 2, 2, 1, 0, 1, 2, 0, 0, 2, 2, 0, 2, 0, 1, 0, 0, 0, 0,
       1, 2, 0, 0, 0, 2, 0, 1, 2, 0, 0, 2, 0, 2, 0, 0, 2, 2, 1, 1, 0, 0,
       1], dtype=int64)

In [36]:
X_test #0:setosa, 1:versicolor, 2:virginica

     sepal_length  sepal_width  petal_length  petal_width
109           7.2          3.6           6.1          2.5
140           6.7          3.1           5.6          2.4
104           6.5          3.0           5.8          2.2
14            5.8          4.0           1.2          0.2
135           7.7          3.0           6.1          2.3
120           6.9          3.2           5.7          2.3
81            5.5          2.4           3.7          1.0
45            4.8          3.0           1.4          0.3
79            5.7          2.6           3.5          1.0
111           6.4          2.7           5.3          1.9
0             5.1          3.5           1.4          0.2
29            4.7          3.2           1.6          0.2
77            6.7          3.0           5.0          1.7
52            6.9          3.1           4.9          1.5
48            5.3          3.7           1.5          0.2
102           7.1          3.0           5.9          2.1
44            5.1          3.8           1.9          0.4
62            6.0          2.2           4.0          1.0
5             5.4          3.9           1.7          0.4
19            5.1          3.8           1.5          0.3
27            5.2          3.5           1.5          0.2
6             4.6          3.4           1.4          0.3
55            5.7          2.8           4.5          1.3
72            6.3          2.5           4.9          1.5
1             4.9          3.0           1.4          0.2
17            5.1          3.5           1.4          0.3
3             4.6          3.1           1.5          0.2
113           5.7          2.5           5.0          2.0
41            4.5          2.3           1.3          0.3
63            6.1          2.9           4.7          1.4
117           7.7          3.8           6.7          2.2
47            4.6          3.2           1.4          0.2
36            5.5          3.5           1.3          0.2
141           6.9          3.1           5.1          2.3
42            4.4          3.2           1.3          0.2
83            6.0          2.7           5.1          1.6
16            5.4          3.9           1.3          0.4
23            5.1          3.3           1.7          0.5
70            5.9          3.2           4.8          1.8
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
74            6.4          2.9           4.3          1.3
35            5.0          3.2           1.2          0.2
49            5.0          3.3           1.4          0.2
65            6.7          3.1           4.4          1.4

In [48]:
#check the score
clf.score(X_test,y_test)

0.8888888888888888

In [49]:
0.8888888888888888*100

88.88888888888889