 # **Naive Bayes Classifier algorithm:**

**Q.What is naive bayes classifier?**

Naive Bayes Classifier is a machine learning algorithm based on supervised learning, that can be used for solving classification problems.

It is a parabailistic classifier which means it predicts on the basis of the probalility of an object.

ex. Toss the coin         Toss the 2 coin

    Sample space:         Sample space:
    
    {H,T}                 {HH,HT,TH,TT}

**Q.Why the name naive bayes?**

It is comparises of two words naive and Bayes.

**Naive:** It's called naive because it makes the all assumption that all attributes are independant of each other.

EX. Identify the fuirt
    feature:
    color: green
    shape: oval
    test: sweet
    
    fruit={green,oval,sweet} => Watermelon

**Application:**

-Face Recoginition

-Weather forecast

-News Categorization

**Practise Naive Bayes Demo:**

In [1]:
#importing pandas librires
import pandas as pd
data=pd.read_csv('Social_Network_Ads.csv')

In [2]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
#getting data features
#purchased is dependant variable and other is independant variable
X=data.iloc[:,[1,2,3]].values
#X=data.iloc[:,:-1].values
X

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [8]:
y=data.iloc[:,-1].values
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [11]:
#preprocessing of dataset
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [13]:
X[:,0]=le.fit_transform(X[:,0])
X

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [14]:
#spliting train and test dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2)

In [15]:
len(X_train)

320

In [16]:
len(X_test)

80

In [18]:
#create naive bayes classifier model
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [21]:
#predict the value
y_pred=model.predict(X_test)
y_pred #Purchased=1, unPurchased=0

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [20]:
X_test #male=1 , female=0

array([[0, 35, 23000],
       [1, 27, 20000],
       [1, 42, 104000],
       [0, 35, 65000],
       [0, 20, 36000],
       [1, 39, 96000],
       [1, 39, 134000],
       [1, 38, 71000],
       [1, 24, 23000],
       [0, 23, 48000],
       [1, 24, 58000],
       [0, 59, 76000],
       [0, 52, 114000],
       [0, 37, 80000],
       [0, 57, 33000],
       [1, 41, 59000],
       [0, 36, 50000],
       [1, 45, 22000],
       [1, 19, 70000],
       [1, 40, 47000],
       [1, 47, 20000],
       [1, 35, 20000],
       [1, 21, 72000],
       [0, 24, 89000],
       [0, 32, 117000],
       [0, 48, 131000],
       [1, 46, 79000],
       [1, 41, 52000],
       [1, 42, 64000],
       [0, 49, 36000],
       [0, 37, 93000],
       [0, 33, 113000],
       [1, 42, 65000],
       [1, 38, 51000],
       [1, 31, 76000],
       [0, 28, 59000],
       [0, 46, 41000],
       [1, 37, 72000],
       [1, 48, 41000],
       [0, 26, 15000],
       [1, 24, 19000],
       [1, 40, 57000],
       [1, 30, 107000],
       [0, 24, 32000],
       [0, 23, 82000],
       [1, 41, 87000],
       [0, 38, 80000],
       [0, 47, 49000],
       [1, 19, 19000],
       [1, 49, 74000],
       [1, 48, 33000],
       [1, 30, 49000],
       [0, 35, 57000],
       [1, 37, 144000],
       [1, 31, 74000],
       [0, 58, 101000],
       [1, 31, 18000],
       [0, 47, 107000],
       [1, 29, 61000],
       [1, 25, 33000],
       [1, 35, 108000],
       [1, 49, 88000],
       [0, 42, 80000],
       [0, 26, 118000],
       [1, 35, 58000],
       [0, 33, 69000],
       [0, 32, 117000],
       [0, 27, 137000],
       [1, 49, 28000],
       [0, 48, 138000],
       [0, 29, 47000],
       [0, 48, 119000],
       [0, 47, 50000],
       [1, 22, 81000],
       [0, 19, 21000],
       [1, 18, 82000],
       [1, 22, 18000],
       [1, 49, 65000],
       [0, 35, 44000],
       [0, 45, 22000]], dtype=object)

In [22]:
#accuracy score
model.score(X_test, y_test)

0.825

In [24]:
0.825*100 #percentage

82.5